.head-contact{
    text-align: center;
}
.contact{
    text-align: center;
    color: #2e373e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head-contact-info{
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer{
    background: linear-gradient(45deg, #8e8b8b, #020045);
    padding: 10px;
}
.form-contact{
    display: inline-flex;
    flex-direction: column;
    margin: 20px;
    width: 25rem;
}
.form-contact .contact{
    height: 50px; 
    font-size: 1.5rem;
}
.form-contact label{
    font-size: 1.5rem;
}
.submit-button .submit{
    font-size: 2rem;
    color: #c5caba;
    background: #d24646;
    border-radius: 20px;
}
.submit-button .submit:hover{
    color: #e7e9e1;
    background-color: #a52727;
}
.footer-head{
    font-size: 3.3rem;
    text-align: center;
}
.fa-brands{
    font-size: 2rem;
    margin: 2px 17px;
}
.fa-brands:hover{
    color: rgb(67 130 139);
}

.fa-regular{
    font-size: 2rem;
    margin: 2px 17px;
}
.fa-regular:hover{
    color: rgb(67 130 139);
}
.logo-head{
    text-align: center; 
}
.gmail{
    font-size: 1rem;
}