*{
    margin: 0;
    padding: 0;
    color: rgb(212, 222, 222);
    font-family:cursive;
}
.text{
    margin-left: 1rem;
    width: 50%;
}
.image{
    margin-left: 10rem;
}
.img{
    height: 15rem;
    margin-top: 3rem;
    border-radius: 50%;
    transition: 0.5s;
    filter: grayscale(100%);
    animation: image_spring infinite 4s 0ms ;
}
@keyframes image_spring {
    0%{
        margin-top: 3rem;
    }
    50%{
        margin-top: 0rem;
    }
    100%{
        margin-top:3rem
    }
}
.img:hover{
    border-radius: 30%;
    filter: grayscale(0%);
    transform: scale(1.15);
}
.container{
    display: inline-flex;
    /* flex-direction: column; */
}


