*{
    margin: 0;
    padding: 0;
    color: rgb(212, 222, 222);
    font-family:cursive;
}
.text{
    margin-left: 1rem;
    width: 50%;
}
.image{
    margin-left: 10rem;
    margin-top: 3rem;
}
.img{
    height: 20rem;
    border-radius: 50%;
    transition: 0.5s;
}
.img:hover{
    border-radius: 30%;
    transform: scale(1.15);
}
.container{
    display: inline-flex;
    /* flex-direction: column; */
}


