*{
    margin: 0;
    padding: 0;
    color: rgb(212, 222, 222);
    font-family:cursive;
}
.text{
    margin-left: 1rem;
    width: 50%;
    margin-bottom: 1rem;
}
.image{
    margin-left: 10rem;
}
.img{
    height: 15rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 55%;
    transition: 0.5s;
    filter: grayscale(100%);
    animation: image_spring infinite 4s 0ms ;
    box-shadow: 10px;
}
@keyframes image_spring {
    0%{
        margin-top: 3rem;
        margin-bottom: 0rem;
    }
    50%{
        margin-top: 0rem;
        margin-bottom: 3rem;
    }
    100%{
        margin-top: 3rem;
        margin-bottom:0rem;
    }
}
.img:hover{
    border-radius: 30%;
    filter: grayscale(0%);
    transform: scale(1.15);
}
.container{
    display: inline-flex;
}

@media only screen and (max-width: 820px) {
    .container{
        flex-direction: column;
    }
    .image{
        margin-left: 3rem;
    }
    .text{
        width: 100%;
    }
    .img{
        height: 10rem;
    }
}



