.naming{
    font-size: 50px;
    font-family: 'Tangerine', cursive;
    font-family: Nosifer;
    opacity: 0;
    animation: slideBottom 1s forwards;
    animation-delay: 0.5s;
}
.body{
    width:100%;
    font-size: 25px;;
    font-family: 'Sacramento', sans-serif;
}

.web{
    color: burlywood;
    font-family: Cookie;
}
.web:hover{
    color: rgb(141, 173, 66);
}
.btech{
    color: rgb(88, 141, 212);
    font-family: Cookie;
}
.btech:hover{
    color: rgb(115, 102, 177);
}
@keyframes slideBottom {
    0%{
      transform: translateY(-100px);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }