* {
  margin: 0cm;
  padding: 0cm;
}

.image_pratham{
  height: 100px;
  border-radius: 50%;
  opacity: 0;
  animation: slideRight 1s forwards;
  animation-delay: 0.5s;
}

.di1_pratham {
  display: flex;
  justify-content: space-between;
}

.list-nav_pratham li {
  padding: 5px 30px;
  text-decoration: none;
  list-style: none;
}

.list-active_pratham {
  font-size: 40px;
}

.list2_pratham {
  margin-top: 20px;
  display: inline-flex;
}

.list2_pratham li a {
  display: inline-block;
  padding-bottom: 0px;
  color: #b1cee8;
  text-decoration: none;
  transition: 0.15s ;
  font-size: 20px;
  font-family: Great Vibes;
  opacity: 0;
  animation: slideTop 1s forwards;
  animation-delay: 0.5s;
}

@keyframes slideTop {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0%{
    transform: translateX(-50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.list2_pratham li a:hover {
  color: #b9d0e4;
  transform: translateY(-10px);
  font-size: 25px;
  font-weight: bold;
}
.list-nav_pratham{
  padding-left: 1rem;
}

@media only screen and (max-width: 790px) {
  .di1_pratham {
    display: flex;
    flex-direction: column;
  }
}
