* {
  margin: 0cm;
  padding: 0cm;
}
body{
  background-color: rgb(30, 27, 27);
}
.image_pratham{
  height: 100px;
  border-radius: 50%;
}
.di1_pratham {
  display: flex;
  justify-content: space-between;
}

.list-nav_pratham li {
  padding: 5px 30px;
  text-decoration: none;
  list-style: none;
}

.list-active_pratham {
  font-size: 40px;
}

.list2_pratham {
  margin-top: 20px;
  display: inline-flex;
}

.list2_pratham li a {
  padding-bottom: 0px;
  color: #b1cee8;
  text-decoration: none;
  transition: 0.15s ease;
  font-size: 20px;
}

.list2_pratham li a:hover {
  color: #b9d0e4;
  transform: translateY(-10px);
  font-size: 25px;
}

